body {
  font-family: 'Indie Flower', cursive;
  background:#505D6E url(fast-food.jpg) no-repeat center center fixed; 
  min-height:100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

}

* {
  box-sizing: border-box;

}





#header-nav {
  
  border-radius: 0;
  background-color: #5BC8AC;
}

.navbar-default .navbar-brand {
  padding-top: 15px;
  font-weight: bold;
  color: black;
  margin-top: 0px
  margin-bottom: 0px;
  font-size: 2em;
  text-shadow: 2px 2px 2px;
}



.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  
}

#nav-list {
  margin-top: 60px;
  
}

#nav-list a {
  color:black;
  text-align: center;
  font-size: 1.5em;
  background-color: #f29b82;
  border: 1px solid #ef947a;
}


#nav-list a:hover {
  background: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid white;
}

.menu_items {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  
}

#chicken {
  background-color: #598234;
}

#beef {
  background-color: #AEBD38;
}

#sushi {
  background-color: #68829E;
}


div > h3 {
  text-align: center; 
}




@media (min-width:992px){



}



@media (min-width:768px) and (max-width: 991px) {
  

}

@media (max-width:767px){



} 
h3{
  color:black;
  text-align: center;
  font-size: 2em;
  font-family: 'Modak', cursive;

}
h1{
  font-weight: bold;
  color: black;

}